<!DOCTYPE html>
<html>

<head>
    <title>Note Editor</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>
    <section>
        <h1>Esto está funcionando</h1>
        <button hx-on:click="window.location.href='/agregar-nota'">Agregar Nota</button>

        <div hx-get=" /notes" hx-swap="innerHTML">
            cargando notas...
        </div>

        <h3>desde un botón</h3>
        <button hx-get="/notes" hx-swap="innerHTML" hx-target="#idnotas">Cargar notas</button>
        <div id="idnotas"></div>
    </section>

    <script src="script.js"></script>
</body>

</html>
