<!DOCTYPE html>
<html>

<head>
    <title>Note Editor</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>
    <section>
        <h1>Esto está funcionando</h1>
        <button hx-post="/notes" hx-trigger="click" hx-target="#notas" hx-swap="outerHTML">Click</button>
        <div id="notas"></div>
    </section>

    <script src="script.js"></script>
</body>

</html>
